body {
	margin: 0;
	background: #e0e0e0;
}

}
.main-contents {
	text-align: center;
	display: flexbox;
}

.login {
	border: 100px #000000;
	background: linear-gradient(-135deg, #454545, #9da3ff);
	height: 60px;
	box-sizing: border-box;
	margin: 0px 0px 100px 0px;
	color: #ffffff;
	padding: 1px;
	font-family: Century, serif;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.top {
	border: 100px #000000;
	background: linear-gradient(-135deg, #ffffff, #4a54ff);
	height: 70px;
	box-sizing: border-box;
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 50px 0px;
	font-family: Century, serif;
	position: fixed;
	top: 0; /*基準を画面の左上に*/
	left: 0;
	margin: 0; /*余白が入らないように*/
	/*以下装飾*/
	width: 100%;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.top>.youkoso {
	text-align: right;
	font-size: 15px;
	padding-top: 0px;
}

.top>.HOME {
	float: left;
	font-size: 30px;
	margin: 10px 10px;
	color: white;
}

.toplink {
	text-align: right;
}

.square_btn {
	display: inline-block;
	text-decoration: none;
	border-right: solid 1px black;
	font-weight: normal;
	padding: 0px 5px;
}

.loginmoji {
	margin: 6px;
}

.loginfactor {
	margin: auto;
	width: 200px;
	border: outset;
	border: 4px double #ddd;
	padding: 2em;
	background: #ffffff;
}

.copyright {
	text-align: center;
}

.errorMessages {
	margin: 100px auto 0px;
	width: 350px;
	color: red;
}

.search {
	width: 100%;
	background: #c0c0c0;
	float: left;
	margin: 72px 0px 0px;
}

.searchDate {
	border-radius: 5px;
	width: 100px;
	height: 25px;
	color: black;
	background-color: white;
}

.searchCategory {
	border-radius: 5px;
	width: 100px;
	height: 25px;
	color: black;
	background-color: white;
}

.nonpost {
	margin: 100px auto 0px;
	width: 350px;
	color: red;
}

.topmain {
	float: right;
	width: 100%;
}

.toppost {
	margin: 55px 20px 30px 20px;
	padding: 0.5em 1em;
	color: #474747;
	background: #ffffff; /*背景色*/
	border-left: double 7px #4ec4d3; /*左線*/
	border-right: double 7px #4ec4d3; /*右線*/
	vertical-align: top;
}

.csubject {
	padding: 0.5em 1em;
	color: #5d627b;
	background: white;
	border-top: solid 5px #5d627b;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.letterbody {
	padding: 0.5em 1em;
	margin: 10px 0px 10px 0px;
	color: #5d627b;
	background: white;
	border-top: solid 5px #80ff80;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	color: #5d627b;
	word-wrap: break-word;
}

.postuserdate {
	font-size: 13px;
	float: right;
}

.category {
	font-size: 13px;
	border-bottom: solid 2px #f07b3c;
	float: right;
}

.subject {
	font-size: 20px;
	border-bottom: solid 2px #71b5ff;
	float: left;
}

.lbody {
	font-size: 15px;
	border-bottom: solid 2px #ff0000;
}

.letter_body {
	font-size: 20px;
}

.balloon4 {
	margin: 2em 0 2em 40px;
	padding: 15px;
	background: #fff0c6;
	border-radius: 30px;
	word-wrap: break-word;
}

.comment {
	float: left;
}

.commentuserdate {
	font-size: 13px;
	text-align: right;
}

.newpostmain {
	margin: 100px auto;
	width: 500px;
	border: outset;
	border: 4px double #ddd;
	padding: 2em;
	background: #ffffff;
}

.table4 {
	border-collapse: collapse;
	background: #ffffff;
	margin-top: 20px;
}

.managementfactor table {
	border-collapse: collapse;
	margin: 100px auto;
	background-color: #ffffff;
	border: 4px double #ddd;
	width: 80%;
}

.managementfactor th {
	color: #005ab3;
	border-right: 1px dashed #999;
}

.managementfactor td {
	border-bottom: 1px dashed #999;
	border-right: 1px dashed #999;
}

.managementfactor th, .managementfactor tr:last-child td {
	border-bottom: 2px solid #005ab3;
}

.managementfactor td, th {
	padding: 10px;
}

.signupfactor table {
	margin: 100px auto;
	width: 650px;
	border: none;
	border-collapse: separate;
	border-spacing: 20px;
	background: #ffffff;
}

.signupfactor th {
	padding: 0;
	margin: 0;
	height: 53px;
	width: 100px;
	border: none;
	color: #666;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	border-bottom: solid 1px #666;
}

.signupfactor td {
	padding: 0;
	margin: 0;
	height: 53px;
	width: 100px;
	border: none;
	color: #666;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	border-bottom: solid 1px #666;
	padding: 15px;
}

.edit table {
	margin: 100px auto;
	width: 650px;
	border: none;
	border-collapse: separate;
	border-spacing: 20px;
	background: #ffffff;
}

.edit th {
	padding: 0;
	margin: 0;
	height: 53px;
	width: 100px;
	border: none;
	color: #666;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	border-bottom: solid 1px #666;
}

.edit td {
	padding: 0;
	margin: 0;
	height: 53px;
	width: 100px;
	border: none;
	color: #666;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	border-bottom: solid 1px #666;
	padding: 15px;
}

.stopbtn {
	background: #ffff09;
	border-radius: 7px;
	color: black;
	width: 80px;
	height: 25px;
}

.rebtn {
	background: #42a0ff;
	border-radius: 7px;
	color: white;
	width: 80px;
	height: 25px;
}

.remove {
	background: #ff0000;
	border-radius: 7px;
	color: white;
	width: 80px;
	height: 25px;
}

.hissu {
	float: right;
	color: red;
}

.setsumei {
	color: red;
}

.sujecttextbox{
	width: 250px;
}